# Uncomment if you do not use environment variables
#access_key_id=<OSC_ACCESS_KEY>
#secret_key_id=<OSC_SECRET_KEY>

github_access_token="<TOKEN>"
runner_scope="repo"
runner_repo_url="<REPO_URL>"
labels="<LABELS>"
runner_name_prefix="<RUNNER_NAME_PREFIX>"

# uncomment if you don't want 100GB of disk size
# volume_size=200
