REPO_URL={{repo_url}}
RUNNER_NAME_PREFIX={{runner_name_prefix}}
RUNNER_SCOPE={{runner_scope}}
RUNNER_WORKDIR=/tmp/runner/work
ACCESS_TOKEN={{token}}
EPHEMERAL=1
DISABLE_AUTO_UPDATE=1
LABELS={{labels}}
