[Unit]
Description=Ephemeral GitHub Actions Runner Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/docker pull myoung34/github-runner:2.296.0-ubuntu-bionic
ExecStart=/usr/bin/docker run \
                            --rm \
                            --network host \
                            --env-file /etc/ephemeral-github-actions-runner.env \
                            -v /var/run/docker.sock:/var/run/docker.sock \
                            -v /tmp/runner:/tmp/runner \
                            --name %n \
                            myoung34/github-runner:2.296.0-ubuntu-bionic

[Install]
WantedBy=multi-user.target